<form>
  <h4>Edit product (click to select product): </h4>
  <div class="form-group">
    <label for="name">Name: </label>
    <input [(ngModel)]="name" class="form-control" id="name" name="name" placeholder="{{selectedProduct?.name}}"
           type="text">
  </div>
  <div class="form-group">
    <label for="price">Price: </label>
    <input [(ngModel)]="price" class="form-control" id="price" name="price" placeholder="{{selectedProduct?.price}}"
           type="text">
  </div>
  <div class="form-group">
    <label for="amount">Amount: </label>
    <input [(ngModel)]="amount" class="form-control" id="amount" name="amount" placeholder="{{selectedProduct?.amount}}"
           type="text">
  </div>
  <app-button (btnClick)="editProduct()" (click)="reloadCurrentPage()" color="green" text="Submit"></app-button>
</form>
