<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>

    <div class='table-responsive'>
      <table class='table'
             *ngIf='allProducts.length'>
        <thead>
        <tr>
          <th>Product</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let product of allProducts'>
          <td>{{ product.name | lowercase }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.price | currency: 'PLN': 'symbol': '1.2-2'}}</td>
          <td>{{product.sum | currency: 'PLN': 'symbol': '1.2-2'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <app-product-editor></app-product-editor>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
