<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shopping List</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="/welcome">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="/product">Products Pool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/list">Products List</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="card">
    <div class="card-header">
      Author:
    </div>
    <div class="card-body">
      <h5 class="card-title">Rafal Sochacki</h5>
      <h5 class="card-title">s20047</h5>
    </div>
  </div>
</footer>
