<div class="table-responsive">
  <label for="title">Title: </label>
  <input [(ngModel)]="title" class="form-control" id="title" type="text" placeholder="List tile">
  <table class='table'>
    <thead>
    <tr>
      <th>Select</th>
      <th>Product</th>
      <th>Amount</th>
      <th>Price / 1 prod.</th>
      <th>Total</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
      <td>{{ product.name | lowercase }}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.price | currency: 'PLN': 'symbol': '1.2-2'}}</td>
      <td>{{product.totalPrice | currency: 'PLN': 'symbol': '1.2-2'}}</td>
      <td>
        <fa-icon
          (click)="onDelete(i)"
          [icon]="faTimes"
          [ngStyle]="{ color: 'red' }">
        </fa-icon>
      </td>
    </tr>
    </tbody>
  </table>
  <h6>Unselected products price: {{unselectedPrice}}</h6>
  <h6>Selected products price: {{selectedPrice}}</h6>
  <h6>Total price: {{totalPrice}}</h6>
  <app-button (btnClick)="toggleAddList()" color="green" text="Add List"></app-button>
</div>
