<div class="table-responsive">
  <input [(ngModel)]="title">
  <table class='table'>
    <thead>
    <tr>
      <th>Product</th>
      <th>Amount</th>
      <th>Price / 1 prod.</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name | lowercase }}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.price | currency: 'PLN': 'symbol': '1.2-2'}}</td>
      <td>{{product.totalPrice | currency: 'PLN': 'symbol': '1.2-2'}}</td>
    </tr>
    </tbody>
  </table>
  <h6>Unselected products price: {{unselectedPrice}}</h6>
  <h6>Selected products price: {{selectedPrice}}</h6>
  <h6>Total price: {{totalPrice}}</h6>
  <app-button (btnClick)="toggleAddList()" color="green" text="Add List"></app-button>
</div>
